.total-container
{
  height: 100vh;
  background-color: #D6E8FF;
}

.title-container
{
  background-color: #85B8FF ;
  width: 100vw;
  height: 25vh;
}

.title
{
  padding-top: 3rem;
  font-weight: bold;
}

.task-button
{
  margin-top: 1.5rem;
}

.task-container
{
  width: 100vw;
  background-color: #D6E8FF;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5.5rem;
  padding-right: 4.5rem;
  padding-top: 0.25rem;
  padding-bottom: 2rem;
  justify-content: flex-start;
}

.button-area
{
  display: flex;
  justify-content: space-around;
}

.completedCard {
  background-color: #98FB98 !important; 
}

.btn-fixed-width{
  width: 100px;
}